
<div class="row"> 

	<div class="col-xs-4">
		<img style="margin-top:150px;" src='/ecommerce/images/store.jpg' class="img-responsive img-thumbnail product-image">
        
	</div>

	<div class="col-xs-8">
		<p class="h1 text-center"> About Our Store </p>
		<p> 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a purus gravida, lacinia elit eu,
			 accumsan elit. Nulla rhoncus rutrum facilisis. Etiam ornare, metus vitae mattis pulvinar, nisl orci
			  sodales leo, vitae auctor lectus turpis eu turpis. Duis pulvinar quis massa at vestibulum. In iaculis
			   vestibulum magna vitae tristique. Nunc efficitur sapien scelerisque, cursus purus eget, vestibulum 
			   sapien. Quisque eu risus in erat fringilla tincidunt. In vehicula tellus nunc, in suscipit nunc mollis
			    ac. In imperdiet consectetur mi, sit amet porttitor nunc aliquam ut. Proin sit amet mi felis. Mauris
			     ultricies viverra neque, eget venenatis tortor ornare id. Sed tempus pellentesque nunc, quis eleifend 
			  massa luctus sit amet. Pellentesque bibendum condimentum vehicula.

		</p>
		<hr />
	</div>

</div>