
<div class="row">
    
    <header>
        <p class= "text-center h1"> Welcome to your Account </p>
    </header>
        <div class="container text-center customer-menu-page" >
            <div class="list-group">
              <a href="#" class="list-group-item active"> Choose What want to do! </a>
              <a href="#" class="list-group-item"> View Orders </a>
              <a href="/ecommerce/customer/register.php?edit" class="list-group-item"> Edit Account </a>
              <a href="#" class="list-group-item remove" data-ng-Click=""> Remove Account </a>
              <a href="" class="list-group-item logout" data-ng-Click="doLogout()"> Logout </a>
            </div>
        </div>

        <p> {{ user.email }} </p>

</div>



