
    <div class="row">
        <div class="col-sm-10">

            <h2 class="text-center">Get in touch</h2>
            <hr>
            <p class="text-center">Need a quote, enquiry about our team creating your App or have a suggestion for the <strong>Forward</strong> App, we need to hear from you:</p>
            <form class="form-horizontal tpad" role="form">

                <div class="form-group">
                    <label for="email" class="col-xs-4 control-label">Email</label>
                    <div class="col-lg-8">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>

                <div class="form-group tpad">
                    <label for="message" class="col-xs-4 control-label">Message</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" rows="10" id="message" placeholder="Message..."></textarea>
                    </div>
                </div>

                <div class="form-group tpad">
                    <div class="col-lg-offset-4 col-xs-10">
                        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-md"> &nbsp; &nbsp; Send  &nbsp;  &nbsp;</a>
                    </div>
                </div>
            </form>
            
        </div>
    </div>