html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
  min-width: 100%;
  min-height: 100%;
}
body{ 
    background: whitesmoke;
    font-family: 'Quattrocento Sans', sans-serif;
    width: 1054px;
    height: 200px;
    margin: auto;
}

.main_wrapper{
    width: 1000px;
    margin: auto;
}
.header_warpper{
    width: 1000px;
    height: 100px;
    margin: auto;
}

#banner {width: 100%;}

#menu li{
  list-style: none;
  display: inline;
  float: left;
}
#menu a{
 text-decoration: none;
    color: ghostwhite;
    padding: 8px;
    margin: 5px;
    font-size: 20px;
    font-family: 'Quattrocento Sans', sans-serif;;
}
#menu a:hover{
    color: darkorange;
    font-weight: bolder;
    text-decoration: underline;
}

.content_wrapper{
    width: 1000px;
    margin: auto;
    background: slategray;

}

.menubar{
    width: 1000px;
    height: 40px;
    background: gray;
    color: white;
    margin-top: 160px;
    padding: 5px;
}

.content_area{
    width: 800px;
    float: left;
    background: #F8F8F8;;
    min-height: 400px;
    
}
.page_content h2{
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
    color: black;
    font-family: sans-serif;
}
.page_content p{
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: sans-serif;
}
.confirmation p{
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    color: green;
    font-family: sans-serif;
}

.customer_menu ul{
    padding-top: 20px;
    
}
.customer_menu ul li{
    display: block;
    list-style: none;
    font-size: 20px;
    line-height: 2.8;
    text-align: center;  
}
.customer_menu ul a{
   color: black;
    font-family: georgia;
    font-weight: bolder;
}
.customer_menu ul a:hover{
    color: yellow;
    font-size: 22px;
    text-decoration: none;
}

#shopping_cart{
    width: 800px;
    height: 41px;
    background: slategray;
    color: white;
    font-weight: 500;
}
#shopping_text{
    float: right;
    line-height: 2.5em;
    font-size: 15px;
}
#shopping_text a{
    color: yellowgreen;
    font-size: 19px;
}

#sidebar{
    width: 200px;
    background: slategray;
    float: left;
    height: 100%;
}
#sidebar_title{
    color: black;
    background: white;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    padding: 9px;
}
.cats{
 padding-top: 25px;
 padding-bottom: 25px;
 text-align: center;
}
.cats li{
  list-style: none;   
  display: block;
}
.cats a{
  color: white;
  padding: 8px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  line-height: 2;
  font-family: 'Quattrocento Sans', sans-serif;;
}
.cats a:hover{
  color: orange;
    font-weight: bolder;
  text-decoration: underline;
}

#footer{
    width: 100%;
    height: 30px;
    background: slategray;
    clear: both;
    line-height: 2.2em;
    margin-top: 50px;
}
#footer p{
    font-size: 15px;
    text-align: right;
    color: white;
    font-weight: 20px;
    width: 100%;
}