html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{ 
    font-family: 'Quattrocento Sans', sans-serif;
}

.main_wrapper{
    width: 1100px;
    height: auto;
    margin: auto;
}
.header_warpper{
    width: 100%;
    height: 100px;
    margin: auto;
}

#banner {
    width: 100%;
    height: 267px;
}

#menu li{
  list-style: none;
  display: inline;
  float: left;
  width: 146px;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 2px;
}
#menu a{
    text-decoration: none;
    color: black;
    padding-left: 10px; 
    padding-right: 10px;
    /*color: ghostwhite;*/
    margin: 5px;
    font-size: 18px;
    font-family: 'Quattrocento Sans', sans-serif;;
}
#menu a:hover{

}

.content_wrapper{
    width: 100%;
    margin: auto;
    /*background: slategray; */
    background-color: #FFFAF0 ;
}

.menubar{
    display: block;
    width: 100%;
    height: 45px;
    background: whitesmoke;
    color: white;
    margin-top: 160px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: auto;
    padding-right: auto;
}

#content_area{
    width: 80%;
    float: left;
   /* background: blanchedalmond;*/
   background: whitesmoke;
    min-height: 740px;
}

#content_area_contact{
    width: 100%;
    float: left;
    background: #F8F8F8;
    min-height: 470px;
}
#shopping_cart{
    width: 100%;
    height: 41px;
    background: slategray;
    color: white;
}
#shopping_text{
    float: right;
    line-height: 2.4em;
    font-size: 17px;
}
#shopping_text a{
    color: yellowgreen;
    font-size: 18px;
}

#sidebar{
    width: 20%;
    background: slategray;
    float: left;
    height: 100%;
}
#sidebar_title{
    color: black;
    background: white;
    font-size: 18px;
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    padding: 10px;
}
.cats{
 padding-top: 25px;
 padding-bottom: 25px;
 text-align: center;
}
.cats li{
  list-style: none;   
  display: block;
}
.cats a{
  color: white;
  padding: 8px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  line-height: 2;
  font-family: 'Quattrocento Sans', sans-serif;;
}
.cats a:hover{
  color: orange;
    font-weight: bolder;
  text-decoration: underline;
}

#footer{
    width: 100%;
    height: 30px;
    background: slategray;
    clear: both;
    line-height: 2.2em;
    margin-top: 50px;
}
#footer p{
    font-size: 15px;
    text-align: right;
    color: white;
    font-weight: 20px;
    width: 100%;
}
.confirmation p{
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    color: green;
    font-family: sans-serif;
}
#products_box{
    width: 780px;
    text-align: center;
    margin-left: 50px;
    margin-botton: 10px;
}
#single_product {
    float: left;
    margin-left: 15px;
    padding: 20px;
}
#single_product img{
    border: .5px solid black;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 10px;
    margin-left: 10px;
}
#single_product h3{
    font-weight: bolder;
    font-size: 22px;
}

form table{
    width: 700px;
    text-align: center;
    margin: 20px auto;
    border-collapse: collapse;
}
form table tr th{
    height: 40px;
    line-height: 2em;
    font-size: 22px;
}
form table tr td, th{
    text-align: center;

}
form table tr td{
    line-height: 3em;
    padding: 4px;

    border-collapse: collapse;
}
form table tr{
    width: 25%;
}
thead{
    color: black;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
tbody{
    color: black;
    font-weight: bolder;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size:17px;
}
tfoot{
    color: black;
    font-weight: bolder;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size:22px;
}
table a{
    text-decoration: none;
    font-size: 20px;
}
table a:hover{
    background-color: white;
    padding: 10px;
    border-radius: 50% / 10%;
    font-size: 25px;
}
table a:visited{
    color: green;
}
.remove{
    width: 10%;
}
.product{
    width: 40%;
}
.info_qt{
    width: 25%;

}
.info_price{
    with: 25%;
}

#register_page{
    margin: 50px auto;
    padding:10px;
    width:90%;
    border: solid black 1px
}
#register_page input{
    width: 200px;
}

#register_page label{
    margin-top: 25px;
    width: 190px;
    font-size: 20px
}

#register_page.form-group{
    display: block; padding-top: 30px
}
#register_page button{
    display: block;
    margin-top: 30px;
    margin-left: 200px;
    width: 300px;
}
#photo{
    
    width: 400px;
}
.cart_btn:hover{
    background-color: inherit;
}
